PORT=4000
DB_HOST=db.fudakvecbveugqfelxul.supabase.co
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=replace-with-your-db-password
DB_SSL=true
PASETO_SECRET=replace-with-a-long-random-secret-at-least-32-chars
ADMIN_USERNAME=admin
ADMIN_PASSWORD=ChangeMe123!
ADMIN_DISPLAY_NAME=Backoffice Admin
GOOGLE_CLIENT_ID=604995385271-8jnsr6af76qdubpaq3g8ohbc03cnvua8.apps.googleusercontent.com
GOOGLE_ALLOWED_EMAILS=
VITE_API_URL=http://localhost:4000/api
VITE_GOOGLE_CLIENT_ID=604995385271-8jnsr6af76qdubpaq3g8ohbc03cnvua8.apps.googleusercontent.com